/dataset_creation/.idea
/dataset_creation/imdb_filmes_test.db
/dataset_creation/imdb_filmes_train.db

dataset_creation/dataset_merge/all_films.db
dataset_creation/dataset_merge/imdb_filmes_test.db
dataset_creation/dataset_merge/imdb_filmes_train.db
dataset_creation/dataset_merge/.idea/
/m1_tf_venv/

.DS_Store
dataset_creation/.DS_Store


/ML_program/.idea
/ML_program/data_preprocessing/dataset_balance/balanced_films_by_commentsNumber.db
/ML_program/data_preprocessing/dataset_balance/balanced_films_by_filmsNumber.db
/ML_program/ML_pipeline/all_films.db
/ML_program/all_films.db
/ML_program/data_preprocessing/database_setup/__pycache__
/ML_program/ML_pipeline/__pycache__

ML_program/saved_models
macenv/
m1_tf_venv/